rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // All members and viewers can read live league tables, matches, and player rosters
    match /league/{leagueId} {
      allow read, write: if true;
    }
    
    // Auth configuration and settings
    match /settings/{settingId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}
